@import '../../utils';

.bottom-nav__container {
  max-width: 390px;
  margin: 0 auto;
  position: fixed;
  bottom: 1rem;
  left: 0;
  right: 0;
  padding: 0 0.5rem;
  z-index: 11;
}

.bottom-nav {
  background-color: rgba($color: #0b0e23e6, $alpha: 0.9);
  padding: 0.5rem;
  height: 4rem;
  border-radius: var(--border-radius-xl);
  display: flex;
  align-items: stretch;

  .bottom-nav__link {
    display: flex;
    justify-content: center;
    flex: 1;
    &--active {
      * {
        fill: white;
      }
      .bottom-nav__icon {
        opacity: 1;
      }
    }
  }

  .bottom-nav__icon {
    justify-self: center;
    align-self: center;
  }

  .bottom-nav__text {
    @include blind;
  }
}
