.top-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  color: #fff;
  height: var(--top-header-height);
  max-width: 390px;
  margin: 0 auto;

  &:before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: blur(1px);
  }

  .top-header__logo {
    width: 7rem;
  }

  .top-header__title-area {
    &.is-english {
      letter-spacing: 0.4rem;
    }
  }

  .inner__container {
    position: relative;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    > div {
      flex: 1;
    }
  }

  &__left-area {
    text-align: left;
  }

  &__title-area {
    text-align: center;
  }

  &__right-area {
    text-align: right;
  }

  a,
  button {
    color: #fff;
    font-size: var(--font-size-md);
    padding: 0.5rem 0;
  }
}
