.profile-layout {
  min-height: 100vh;
}

.top-header {
  &.is-scrolling {
    backdrop-filter: blur(3rem);
  }
  + .profile-layout {
    min-height: calc(100vh - var(--top-header-height));
  }
}

.profile-feeds {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}
