.profile-feeds-tabs {
  position: sticky;
  top: var(--top-header-height);
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  background-color: var(--bg-color);
  &__tab {
    width: 100%;
    padding: 0.5rem 0;
    text-align: center;

    &--active {
      * {
        stroke: white;
      }
    }
    + .feeds-tabs__tab {
      border-left: 1px solid var(--border-color);
    }
  }
}
