.Modal__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Carousel__container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Img__container {
  display: flex;
  align-items: center;
}

.Carousel__Img {
  width: 280px;
  height: 100%;
  display: flex;
}
.Front-Btn {
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.Back-Btn {
  position: relative;
  z-index: 1;
  cursor: pointer;
}
