.feed-create-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: var(--white);
  font-size: large;
  padding-top: 1.5rem;
}

.feed-create-header-back {
  display: flex;
  justify-content: flex-start;
  color: var(--white);
}

.feed-create-header-title {
  display: flex;
  justify-content: center;
}

.feed-create-header-next {
  display: flex;
  justify-content: flex-end;
  color: var(--white);

  &--color {
    color: var(--essential-color);
  }
}
