.Carousel__container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Img__container {
  width: 100%;
  height: 100%;
  display: flex;
}
.Carousel__Img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: flex;
}
.Front-Btn {
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.Back-Btn {
  position: relative;
  z-index: 1;
  cursor: pointer;
}
