.feed-create {
  height: 100vh;
}

.feed-create-form {
  max-width: 390px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feed-create-form-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: large;
}

.feed-create-form-image__image {
  margin-top: 1rem;
  color: var(--white);
}

.feed-create-form-input {
  flex-grow: 0;
  margin-bottom: 3rem;
  &__label {
    cursor: pointer;
  }

  &__input {
    display: none;
  }
}
