.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.5rem;
  border-radius: var(--border-radius-md);
  border: 0;
  text-decoration: none;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  // size
  &.sm {
    font-size: var(--font-size-sm);
    height: 3rem;
  }
  &.md {
    font-size: var(--font-size-lg);
    height: 3.75rem;
  }
  &.lg {
    font-size: var(--font-size-lg);
    padding: 1rem 1rem;
    height: 3rem;
  }

  // variant
  &.default {
    background: var(--white);
    color: var(--black);
  }
  &.primary {
    background: var(--button-primary-color);
    color: var(--white);
  }
  &.secondary {
    background: var(--button-secondary-color);
    color: var(--white);
  }

  // text color
  &.text_essential {
    color: var(--essential-color);
  }
  &.text_white {
    color: var(--white);
  }
  &.text_black {
    color: var(--black);
  }
  &.text_success {
    color: var(--success-color);
  }
  &.text_danger {
    color: var(--danger-color);
  }

  // full size
  &.is_full {
    width: 100%;
  }

  // english
  &.is_english {
    letter-spacing: 0.4rem;
  }

  // disabeld
  &.is_disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}
