$size-sm: 2.5rem;
$size-md: 3.25rem;
$size-lg: 4rem;

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.5rem;
  border-radius: var(--border-radius-md);
  border: 0;
  text-decoration: none;

  // size
  &-size--sm {
    font-size: var(--font-size-sm);
    height: $size-sm;
  }
  &-size--md {
    font-size: var(--font-size-md);
    height: $size-md;
  }
  &-size--lg {
    font-size: var(--font-size-lg);
    height: $size-lg;
  }

  // variant
  &-bg--default {
    background: var(--white);
    color: var(--black);
  }
  &-bg--primary {
    background: var(--button-primary-color);
    color: var(--white);
  }
  &-bg--secondary {
    background: var(--button-secondary-color);
    color: var(--white);
  }
  &-bg--essential {
    background: var(--essential-color);
    color: var(--white);
  }

  &-bg--gray {
    background: var(--gray);
    color: var(--white);
  }

  &-bg--ghost {
    background-color: transparent;
    border-color: var(--white);
    border-width: 2px;
    border-style: solid;
    color: var(--white);
    svg {
      * {
        fill: var(--white);
      }
    }
  }

  // icon only
  &--icon-only {
    border-radius: 50%;
    padding: 0;

    &.button-size--sm {
      width: $size-sm;
    }
    &.button-size--md {
      width: $size-md;
    }
    &.button-size--lg {
      width: $size-lg;
    }
  }

  // text color
  &-text--essential {
    color: var(--essential-color);
  }
  &-text--white {
    color: var(--white);
    svg {
      * {
        fill: var(--white);
      }
    }
  }
  &-text--black {
    color: var(--black);
    svg {
      * {
        fill: var(--black);
      }
    }
  }
  &-text--success {
    color: var(--success-color);
    svg {
      * {
        fill: var(--success-color);
      }
    }
  }
  &-text--danger {
    color: var(--danger-color);
    svg {
      * {
        fill: var(--danger-color);
      }
    }
  }

  // full size
  &-size--full {
    width: 100%;
  }

  // english
  &-text--english {
    letter-spacing: 0.4rem;
    text-transform: uppercase;
  }

  // disabeld
  &--disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}

.button__image {
  display: flex;
  flex-direction: row;
  align-items: center;

  + * {
    margin-left: 0.5rem;
  }

  svg {
    width: 1.5em;
    height: 1.5em;
  }
}
