.header {
  text-align: center;
  font-size: var(--font-size-lg);
  font-weight: bold;
  color: #ffffff;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
