.button {
  padding: 1.5rem 1rem;
  text-align: center;
  font-weight: bold;

  + .button {
    border-top: 1px solid rgba($color: white, $alpha: 0.1);
  }
  &-text--essential {
    color: var(--essential-color);
  }
  &-text--white {
    color: var(--white);
  }
  &-text--black {
    color: var(--black);
  }
  &-text--success {
    color: var(--success-color);
  }
  &-text--danger {
    color: var(--danger-color);
  }
}
