.input_field {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  border: 0;
  outline: 0;
  font-size: 0.875rem;
  color: white;
  background-color: rgba($color: white, $alpha: 0.1);
  input {
    width: 100%;
    height: inherit;
    background-color: transparent;
    outline: 0;
    border: 0;
    padding: 1rem;
    color: inherit;
    &::placeholder {
      color: rgba($color: white, $alpha: 0.5);
    }
  }
  button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: inherit;
  }
}
